* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
}

html, body {/*
    height: 100%;
    width: 100%;*/
}

body {
    background-color: #eee;
    color: black;
    font-size: 18px;
    font-family: arial;
    padding: 5px;
    padding-bottom: 30px;
    padding-right: 0;
}

span {
    display: inline-block;
}

h2 {
    color: #333;
    font-size: 1.1em;
}

h3 {
    font-size: 1em;
}

a {
    color: black;
}

button {
    color: black;
    background-color: #5ed267;
    width: 50%;
    height: 30px;
    cursor: pointer;
    border: none;
}

button.red {
    color: white;
    background-color: #fb2727;
}

input {
    width: 100%;
}

input[type="checkbox"] {
    width: unset;
}

#canvas-sizer {
    padding-bottom: 100%;
    background: white;
}

#bezier-canvas {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border: 1px solid #ddd;
}

.bezier-control-point {
    width: 15px;
    height: 15px;
    position: absolute;
    cursor: move;
    border-radius: 100px;
    z-index: 2;
    background: red;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(50%);
    color: white;
    font-size: 14px;
    text-align: center;
    line-height: 1;
}

.bezier-preset {
    padding: 7px 2px;
    border: 1px solid lightgray;
}

#show-calibration {
    position: absolute;
    cursor: pointer;
    font-size: 0.8em;
    bottom: 0;
    right: 0;
}

#calibration {
    display: none;
    position: absolute;
    background: #eee;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

#keyboard-locked {
    display: none;
}

#error-text {
    position: absolute;
    bottom: 0;
}

.location {
    border: 1px solid lightgray;
}

.location div {
    font-size: 0.8em;
}

.center {
    text-align: center;
    float: none;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.center-vertical-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.center-vertical {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    /*max-height: 80%;*/
    overflow-y: auto;
}

.row {
    margin-left: auto;
    margin-right: auto;
}

.row:after,.row:before {
    content: ' ';
    display: table;
}

.row:after {
    clear: both;
}

.row + .row {
    /*margin-top: 15px;*/
}

.row.guttered {
    max-width: 1100px;
}

.row.guttered.small {
    max-width: 900px;
}

.column,.columns {
    width: 100%;
    float: left;
    position: relative;
}

.small-1 {
    width:8.33333%;
}

.small-2 {
    width: 16.66667%;
}

.small-3 {
    width: 25%;
}

.small-4 {
    width: 33.33333%;
}

.small-5 {
    width: 41.66667%;
}

.small-6 {
    width: 50%;
}

.small-7 {
    width: 58.33333%;
}

.small-8 {
    width: 66.66667%;
}

.small-9 {
    width: 75%;
}

.small-10 {
    width: 83.33333%;
}

.small-11 {
    width: 91.66667%;
}

.small-12 {
    width: 100%;
}

.small-1-7 {
    width: 14.2857%;
}

.small-1-5 {
    width: 20%;
}

.small-1-8 {
    width: 12.5%;
}
