* {
	color: #000;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 13px;
	line-height: 1.55;
}

body {
	background: #FFF;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	border-width: 1px;
	border-style: none none solid none;
	border-color: #BFBEBE;
}

p a:hover, li a:hover {
	border-style: none none solid none;
	border-color: #7E7D7D;
}

p {
	margin: 0 0 0.8em 0;
}

h1, h2, h3 {
	text-transform: uppercase;
	margin: 1.75em 0 0.25em 0;
	font-size: 14px;
	color: #414040;
}

h1 {
	font-size: 20px;
	font-weight: normal;
	margin-top: 0;
}

h2, h3 {
	font-weight: normal;
	letter-spacing: 1px;
}

h3 {
	font-size: 12px;
	margin: 4px 0 2px 0;
}

h1:after {
	content: "";
	display: block;
	width: 128px;
	height: 128px;
	float: right;
	margin: 0 0 2em 2em;
	background: url(AppIcon.png) no-repeat 0 0;
}

div.version, div.version ul {
	margin-left: 16px;
}

ul {
	margin: 0 0 8px 0;
	padding: 0;
}

li {
	list-style-type: none;
	margin: 0 2em .5em 0;
    padding: 0 0 0 1.5em;
}

li:before {
    content: " ";
    position: absolute;
    background-color: #7E7D7D;
    width: 9px;
    height: 3px;
    margin-top: .45em;
    margin-left: -1.5em;
}

pre, code {
	font-family: Monaco, Courier;
	color: #414040;
	font-size: 11px;
}

#frame {
	max-width: 680px;
	padding: 0;
	margin: 35px auto;
}

.screenshot {
	margin: 1.5em;
	-webkit-filter: drop-shadow(1px 3px 18px rgba(0, 0, 0, 0.24));
	-moz-filter: drop-shadow(1px 3px 18px rgba(0, 0, 0, 0.24));
	filter: drop-shadow(1px 3px 18px rgba(0, 0, 0, 0.24));
}

header {
	height: 34px;
	background: url(bar.png) repeat-x 0 bottom;
	margin-bottom: 51px;
}

header a {
	display: block;
	border-style: none;
	background: url(logo.png) no-repeat 0 0;
	width: 255px;
	height: 17px;
}

header span {
	position: absolute;
	top: -100em;
}

@media (min--moz-device-pixel-ratio: 1.3),
       (-o-min-device-pixel-ratio: 2.6/2),
       (-webkit-min-device-pixel-ratio: 1.3),
       (min-device-pixel-ratio: 1.3),
       (min-resolution: 1.3dppx) {
	header {
		background-image: url(bar@2.png);
		background-size: 255px 3px;
	}
	header a {
		background-image: url(logo@2.png);
		background-size: 100%;
	}
	h1:after {
		background-image: url(AppIcon@2.png);
		background-size: 100%;
	}
}